@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Pacifico&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --beige: #e8dccb;
  --light-beige: #f5f0ea;
  --gray: #b5b5b5;
  --dark-gray: #444;
  --orange: #DB772B;
  --black: #212529;
  --white: #fff;
  --h-title: 48px;
  --hw-title: 800;
  --f-title: 32px;
  --fw-title: 700;
  --s-title: 20px;
  --sw-title: 400;
  --description: 16px;
  --w-description: 300;
  --p: 13px;
  --all-text: 'Roboto', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: var(--description);
    font-family: sans-serif;
    border: none;
    border-radius: none;
    outline: none;
    text-decoration: none;
    color: var(--black);
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    && > .logo {
        display: flex;
        align-items: center;
        && > img {
            width: 5rem;
            margin-right: .5rem;
        }
        && > span {
            text-wrap: nowrap;
            font-size: 40px;
            color: var(--beige);
            font-weight: 600;
        }
    }
    .navigation {
        display: flex;
        gap: .5rem;
        margin-right: auto;
        && > li > a {
            font-size: var(--s-title);
            color: var(--beige);
        }
    }
}

.navigation__item {
    position: relative;
    padding: 0 .5rem;
    transition: .3s;
}

.navigation__item::after {
    content: '';
    background: var(--light-beige);
    width: 100%;
    height: 130px;
    position: absolute;
    top: -12.5rem;
    left: 0;
    z-index: -1;
    border-radius: .2rem;
    box-shadow: 0px 1px 5px 1px;
    transition: .3s;
}

.navigation__link {
    color: var(--black);
    transition: .4s;
}

.navigation__item:hover {
    cursor: pointer;
    && > .navigation__link {
        color: var(--black);
    }
    &&::after {
        top: -6rem;
    }
}

.header__button {
    padding: 15px 25px;
    background: #6e6e6e69;
    border: 1px solid var(--white);
    border-radius: 8px;
    color: var(--white);
    transition: .3s;
    font-size: var(--s-title);
    font-weight: var(--sw-title);
}

.header__button:hover {
    background: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    cursor: pointer;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 2rem 0;
}

body {
    position: relative;
}

.cover__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
}

.cover__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 544px;
    object-fit: cover;
}

.cover__title {
    font-size: 56px;
    color: var(--white);
    font-weight: var(--hw-title);
}

.cover__description {
    font-size: var(--sw-title);
    color: var(--white);
    font-weight: var(--w-description);
    width: 486px;
    line-height: 30px;
    margin-bottom: 15px;
}

.solution__link {
    display: flex;
    flex-direction: column;
    gap: 2remsolution__link;
}

.cover__button {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    && > a, button {
        padding: 15px 25px;
        color: var(--white);
        background: none;
        border: 1px solid var(--white);
        border-radius: 8px;
        font-size: var(--s-title);
        font-weight: var(--sw-title);
        transition: .3s;
    }
    /* && > input {
        padding: 15px 35px 15px 20px;
        background: #ffffff00;
        border: 1px solid var(--white);
        border-radius: 8px;
        font-size: var(--s-title);
        font-weight: var(--sw-title);
        color: var(--white);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        &&::placeholder {
            color: var(--white);
            font-weight: var(--sw-title);
            font-size: var(--s-title);
        }
    } */
}

.cover__button > button.cover__catalog--btn {
    background: var(--orange);
    border: 1px solid var(--orange);
}

.cover__button > button.cover__catalog--btn:hover {
    cursor: pointer;
    background: none;
    border: 1px solid var(--white);
}

.cover__button > a.cover__contacts--btn:hover {
    background: var(--orange);
    border: 1px solid var(--orange);
}

/* .cover__button::before {
    content: '';
    background: url(./images/cover__search.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    left: 37rem;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
    transition: 0.3s;
} */

.cover__messenger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 33px;
    && > a {
        padding: 10px 11px;
        border: 1px solid var(--white);
        border-radius: 8px;
        display: flex;
        gap: 5px;
        && > img {
            width: 14px;
        }
        && > span {
            color: var(--white);
            font-size: 14px;
            font-weight: var(--sw-title);
        }
    }
}

.cover__contacts {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cover__contacts--item {
    display: flex;
    align-items: center;
    gap: 6px;
    && > img {
        width: 20px;
    }
}

.cover__phone--text {
    && > span {
        font-size: 14px;
        font-weight: var(--sw-title);
        color: var(--white);
        line-height: 21px;
    }
    && > p {
        font-size: var(--description);
        font-weight: var(--fw-title);
        color: var(--white);
        line-height: 24px;
    }
}

.background {
    padding: 95px 0;
    margin-top: 47px;
    display: flex;
    align-items: center;
    gap: 21px;
}

.background__content {
    padding: 10px 5px;
    display: flex;
    gap: 18px;
    flex-direction: column;
    /* max-width: 630px; */
    /* flex: 1; */
}

.background__text {
    display: flex;
    flex-direction: column;
    gap: 11px;
    && > h1 {
        font-size: var(--f-title);
        font-weight: var(--fw-title);
    }
    && > h2 {
        font-size: var(--s-title);
        font-weight: var(--sw-title);
    }
    && > p {
        font-size: var(--description);
        font-weight: var(--w-description);    
    }
}

.background__icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.background__item {
    display: flex;
    gap: 13px;
    align-items: center;
}

.background__icon--text {
    && > span {
        font-size: var(--description);
        font-weight: var(--fw-title);
    }
    && > p {
        font-size: 14px;
        font-weight: var(--w-description);
    } 
}

.solutions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 43px 0;
}

.solutions__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 5px .1px #44444468;
    padding: 117px 38px 138px;
    border-radius: 8px;
    && > h1 {
        font-size: var(--h-title);
        font-weight: var(--hw-title);
        margin-bottom: 21px;
    }
    && > h2 {
        font-size: var(--s-title);
        font-weight: var(--w-description);
        color: #212529c8;
        margin-bottom: 65px;
    }
    && > a {
        display: flex;
        align-items: start;
        background: var(--orange);
        border-radius: 8px;
        gap: 8px;
        padding: 22px 25px;
        && > p {
            font-size: var(--description);
            font-weight: var(--w-description);
            color: var(--white);
        }
    }
}

.solutions__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 44px 18px;
}

.solutions__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 306px;
    height: 217px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px .1px #44444468;
    && > img {
        margin-bottom: 24px;
    }
    && > span {
        font-size: var(--s-title);
        margin-bottom: 19px;
    }
    && > p {
        font-size: 14px;
        line-height: 21px;
        color: #212529c8;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    && > h1 {
        font-size: var(--f-title);
        font-weight: var(--fw-title);
    }
    && > h2 {
        font-size: var(--s-title);
        font-weight: var(--w-description);
    }
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__item {
    box-shadow: 0px 4px 5px .1px #44444468;
    border-radius: 8px;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    position: relative;
    transition: .3s;
    /* margin-bottom: 6rem; */
    &&:hover {
        cursor: pointer;
    }
    && > p {
        font-size: var(--description);
        transition: .3s;
    }
}

.about__item--icon {
    margin-right: 8px;
}

.about__item--arrow {
    margin-left: auto;
    transition: .3s;
    transform: rotate(180deg);
}

.about__item--dialog.dialog__noactive {
    top: 0;
    position: absolute;
    z-index: -10;
    left: -10000px;
    display: block;
}

.about__item--dialog.dialog__active {
    display: block;
    position: absolute;
    margin-bottom: 20px;
    z-index: -2;
    background: var(--white);
    border-bottom: 1px solid #44444468;
    left: 0;
    border-radius: 0px 0px 8px 8px;
    bottom: -6.5rem;
    padding: 18px 20px;
    transition: .3s;
}

.reviews {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    && > h1 {
        font-size: var(--h-title);
        font-weight: var(--hw-title);
        margin-bottom: 21px;
    }
    && > h2 {
        color: rgba(33, 37, 41, 0.75);
        font-size: var(--s-title);
        font-weight: 300;
        margin-bottom: 40px;
    }
}

.reviews__list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.reviews__item {
    flex: 1;
    padding: 24px 16px 16px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px .1px #44444468;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 291px;
    justify-content: space-between;
}

.reviews__head {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    && > span {
        font-size: 20px;
    }
}

.reviews__item--description {
    padding: 0 5px;
}

.footer {
    border-radius: 8px;
    padding: 2rem;
    background: #444;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__contacts--title {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.footer__contacts--second {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.footer__contacts--list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.contacts__item {
    display: flex;
    gap: 8px;
}

.contacts__item--text {
    && > span {
        color: var(--white);
        font-size: 16px;
        font-weight: 300;
    }
    && > p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 300;
    }
}

.footer__content {
    align-items: center;
}

.footer__navigation--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    && > li > a {
        color: var(--white);
        font-size: 16px;
    }
}

.footer__logo > img {
    width: 100px;
}

@media (max-width: 1350px) {
    .header {
        justify-content: space-around;
    }

    .cover__content {
        align-items: center;
    }

    .cover__description {
        text-align: center;
    }

    .background__image {
        width: 75%;
    }

    .background {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .background__content {
        max-width: 1000px;
    }

    .solutions {
        flex-direction: column;
        gap: 3rem;
    }

    .about {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .about__image {
        width: 75%;
    }

    .reviews__list {
        padding: 2rem;
        justify-content: center;
    }

    .cover__background {
        min-width: 100%;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 1022px) {
    .background__content {
        width: 70%;
    }

    .header {
        gap: 0;
        
    }

    .reviews__item {
        flex: none;
        width: 253px;
    }

    .reviews__list {
        justify-content: center;
        flex-wrap: wrap;       
    }
}

@media (max-width: 840px) {
    .header {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .navigation__item::after {
        top: -25rem;
        height: 15rem;
    }

    .navigation__item:hover {
        &&::after {
            top: -13rem;
        }
    }

    .footer__contacts--second {
        text-wrap: wrap;
    }
    
    .footer__content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}

@media (max-width: 678px) {
    .solutions {
        justify-content: center;
        align-items: center;

    }

    .solutions__list {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 1rem;
        justify-content: center;

    }

    .about__text {
        width: 80%;
    }

    .about__title, .about__second {
        text-align: center;
    }

    .cover__button {
        justify-content: center;
        flex-wrap: wrap;
    }

    .cover__background {
        height: 800px;
    }

    .cover__button::before {
        display: none;
    }

    .solutions__title, .solutions__second, .reviews__title, .reviews__second {
        text-align: center;
    }

    .about__item {
        span {
            top: 3rem;
        }
    }

    .cover__contacts {
        flex-direction: column;
    }

    .navigation {
        flex-direction: column;
    }
}

@media (max-width: 440px) {
    header > a {
        display: none !important;
    }

    h2.cover__description {
        max-width: 70% !important;
    }

    .cover__background {
        height: 850px;
    }

    .reviews__title, .reviews__second {
        max-width: 70%;
    }

    .solutions__catalog {
        max-width: 70% ;
    }

    .solutions__title {
        font-size: 30px !important;
    }

    .background__item {
        flex-direction: column;
    }

    .background__icon--text {
        text-align: center;
    }

}

/* modal Window */

.window {
    background: #21252973;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    backdrop-filter: blur(6px);
    display: none;
    align-items: center;
    justify-content: center;
}

.modalWindow {
    background: var(--white);
    border: 1px solid var(--orange);
    position: relative;
    border-radius: 8px;
    width: 1200px;
    height: 80%;
    padding: 2rem 1rem;
}

.modal__close {
    background: #ffffff8a;
    position: absolute;
    top: -3rem;
    right: -3rem;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    /* gap: 1rem; */
    border-radius: 8px;
    border: 1px solid var(--orange);
    padding: .5rem;
    align-items: center;
    justify-content: center;
    && > div {
        background: #212529;
        width: 1px;
        height: 25px;
        transition: .3s;
    }
}

.modal__close:hover {
    cursor: pointer;
    .modal__close-f {
        rotate: 45deg;
    }
    .modal__close-s {
        rotate: -45deg;
    }
}

.modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__title {
    margin-bottom: 2rem;
    font-size: 48px;
    text-align: center;
}

.order__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;

  && > input {
    padding: 1rem;
    width: 50rem;
    border: 1px solid var(--dark-gray);
    border-radius: .3rem;
    background: none;
    transition: .3s;
  }

  && > .order__name {
    position: relative;
  }

  && > .order__name--label {
    position: absolute;
    left: -50rem;
    top: -20px;
    transition: .3s;
  }

   && > .order__name::placeholder {
    transition: .3s;
   } 

  && > .order__name:focus::placeholder {
    opacity: 0;
    transition: .3s;
  }

  && > .order__name:focus + .order__name--label {
    left: 10px;
  }

  && > select {
    padding: 1rem;
    width: 50rem;
    border: 1px solid var(--dark-gray);
    border-radius: .3rem;
    background: none;
  }

  && > .order__push {
    padding: 1rem;
    width: 20rem;
    border: 1px solid var(--dark-gray);
    border-radius: .3rem;
    background: var(--gray);
    transition: .3s;
    color: var(--dark-gray);
  }

  .order__push:hover {
    background: var(--light-beige);
    color: var(--black);
    cursor: pointer;
  }

}

.order__number {
  position: relative;
}

.order__number--label {
  position: absolute;
  top: 4.1rem;
  left: -50rem;
  transition: .3s;
}

.order__number:focus + .order__number--label {
  left: 10px;
}

.order__date--label {
  position: absolute;
  top: 9.3rem;
  left: -50rem;
  transition: .3s;
}

.order__date:focus + .order__date--label {
  left: 10px;
}

.order__comment {
  width: 100%;
  height: 15rem;
  padding: 1rem;
  border: 1px solid var(--dark-gray);
  border-radius: .3rem;
  background: none;
  transition: .3s;
}

.order__comment--label {
  position: absolute;
  top: 14.6rem;
  left: -50rem;
  transition: .3s;
}

.order__comment:focus + .order__comment--label {
  left: 10px;
}

.contacts__body {
    background: var(--dark-gray);
}

.main__contact--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.main__catalog--title {
    margin: 2rem;
    font-size: 48px;
}

.main__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.main__catalog--list {
    align-items: center;
    justify-content: center;
}

.solutions__item--catalog {
    && > span, && > p {
        color: var(--white);
    }
}

.goods__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 1000px;
    overflow: hidden;
    height: 600px;
    overflow-y: auto;
    && > li {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 300px;
        padding: 1rem;
        justify-content: space-between;
        border: 1px solid #444;
        border-radius: 8px;
    }
}

.modalWindow {
    /* overflow: hidden; */
}

/* box-shadow: 0px 4px 5px .1px #44444468; */